body {
    background-color: #849d8f;
    font-family: "Roboto","Arial",sans-serif;
}
a {
    text-decoration: none;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}
img { 
  max-width: 100%;
  height: auto;    
}
.main_nav_list_item:hover {
    background-color: #f7f6f3;
}
li {
    list-style: none;
}
.main_nav_list a {
    color: #fefefe;
}
.main_nav_list_item a:hover {
    color: #323232;
    background-color: #f8f7f4;
}
.main_nav_list_item a:active {
    color: #323232;
    background-color: #ededed;
}
.subcatalog_item a:hover {
    background-color: #fbded7;
}
.subcatalog_item a:active {
    background-color: #f6b5a5;
}
.link {
    color: #fff;
    border-bottom: 1px solid #ffffff;
}
.link:hover {
    color: #ffbc9e;
    border-bottom: 1px solid #ffbc9e;
}
.registration {
    color: #323232;
    border-bottom: 1px solid #323232;
}
.registration:hover {
    color: #e84d37;
    border-bottom: 1px solid #e84d37;
}
.btn_search {
    display: block;
    content: "";
    width: 33px;
    height: 32px;
    background-image: url("../img/loupe.svg"); 
    font-size: 0;
    border-radius: 33px;
    background-color: rgba(248,247,244,.2);
    background-repeat: no-repeat;
    background-position: center;
}
.btn {
    border-radius: 50px;
    background-color: #f26843;
    border: 0;
    color: #fefefe;
    padding: 10px 20px;
    cursor: pointer;
}
.btn:hover {
    background-color: #f58669;
}
.btn:active {
    background-color: #c63e2b;
}
.delete {
    border: 0;
    background-color: transparent;
}  

.btn_cart {
    padding: 10px 30px 10px 40px;
    border-radius: 20px;
    background-color: rgba(248,247,244,.2);
    position: relative;
    color: #fefefe;
}  
.btn_cart_empty::before {
    display: block;
    content: "";
    width: 20px;
    height: 20px;
    background-image: url("../img/basket.svg");
    position: absolute;
    top: 8px;
    left: 16px
    }
.btn_cart::before {
    display: block;
    content: "";
    width: 20px;
    height: 20px;
    background-image: url("../img/basket-red.svg");
    position: absolute;
    top: 8px;
    left: 16px;
    
    }
.btn_login::before {
    display: block;
    content: "";
    width: 20px;
    height: 20px;
    background-image: url("../img/entrance.svg");
    position: absolute;
    top: 8px;
    left: 16px;
    }
.btn_login {
    padding: 10px 30px 10px 40px;
    border-radius: 20px;
    background-color: rgba(248,247,244,.2);
    position: relative;
    color: #fefefe;
    font-size: 14px;
    }

.btn_login:hover {
    color: #323232;
    background-color: #f8f7f4;
}

.input_field_label {
    font-size: 0;
}
.login_dialog {
    position: absolute;
    width: 313;
    height: 258px;
    background-color: #f8f7f4;
    border-radius: 15px;
}
.hit::before {
    display: block;
    content: "";
    width: 61px;
    height: 61px;
    background-image: url("../img/hit.svg");   
    background-repeat: no-repeat;
}
.features {
    background-image: url("../img/waffle.png");
    border-radius: 15px;
    width: 1146px;
    height: 306px;
}
.advantage_name {
    font-size: 24px;
    font-weight: 400;
    color: #323232;
}
.advantage_list {
   column-count: 2;
   font-size: 16px;  
   margin: 10px;
}
.advantage {
    margin: 10px;
    color: #323232;
}
.advantage::before {
    display: block;
    content: "";
    width: 49px;
    height: 49px;
    }
.newsblock {    
    background-image: url("../img/strawberryfon.jpg");
    border-radius: 20px;
    width: 560px;
    height: 220px;
    color: #323232;
    font-size: 16px;
    font-weight: 400;
}
.newsblock_link {
    color: #323232;
    border-bottom: 1px solid #323232;
    font-size: 24px;
    font-weight: 700;
}
.subscribe {     
    width: 548px;
    min-height: 208px;
    padding: 5px;        
    background-image: url("../img/pattern.png");   
    background-repeat: no-repeat;
    }
.insubscribe {
    background-image: url("../img/inpattern.png");
    width: 560px;
    height: 220px;
    background-repeat: no-repeat;
    padding: 6px;
    color: #5a5a5a;
}
.subscribe_email {
    color: #999999;
}
.advantage--first::before {
    background-image: url("../img/ice-cream.svg");
    background-repeat: no-repeat;
    
}
.advantage--second::before {
    background-image: url("../img/eco.svg");
    background-repeat: no-repeat;
}
.advantage--third::before {
    background-image: url("../img/cow.svg");
    background-repeat: no-repeat;
}
.advantage--fourth::before {
    background-image: url("../img/thermometer.svg");
    background-repeat: no-repeat;
}
.catalog-foto {
    border-radius: 267px;
}
.total {
    text-align: right;
}
.promo {
    color: #fefefe;
}
.promo-raspberry {
    background-image: url("../img/raspberry.jpg");
    width: 560px;
    height: 229px;
    border-radius: 15px;
}
.promo-chocolate {
    background-image: url("../img/chocolate.jpg");
    width: 560px;
    height: 229px;
    border-radius: 15px;
}
.price {
    font-size: 45px;
    line-height: 45px;
    font-weight: 700;
    color: #fefefe;
}
.catalog_item span {
    font-size: 30px;
    }
.catalog_list span {
    font-size: 30px;
}
.nav_menu a {
    color: #fefefe;
}
.contacts {
    background-color:#fefefe;
    width: 302px;
    height: 305px;
    border-radius: 10px;
    color: #323232;
    font-size: 14px;
}
.contacts_b {
    font-size: 18px;
    font-weight: 700;
}
.form {
    font-size: 18px;
    font-weight: 700;
}
.feedback_name {
    color: #323232;
    font-size: 18px;
}
.interactive_map {
    width: 100%;
    height: 430px;

}
.feedback {
    background-color: #f8f7f4;
    width: 428px;
    height: 400px;
    border-radius: 10px;
}
.close {
    border: 0;
    background-color: transparent;
    }
.social {
    display: block;
    font-size: 0;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background-repeat: no-repeat;
}
.vk {
    background-image: url("../img/vk.svg");
    }
.inst {
    background-image: url("../img/instagram.svg");
}
.tw {
    background-image: url("../img/twitter.svg");
    }
.fb {
    background-image: url("../img/fb.svg");
}    
footer a {
    color: #fefefe;
}