body {
    background-color: #9aaea3;
    
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
img { 
  max-width: 100%;
  height: auto;    
}
li {
    list-style: none;
}
.social {  
       
}
.tw {
    
    }
.vk {
   
}
.inst {
    
}
.fb {
    
}
.features {
    background-image: url(../img/waffle.png);
    border-radius: 15px;
    width: 1146px;
    height: 304;
    }
.newsblock {
    background-image: url(../img/strawberryfon.jpg);
    border-radius: 20px;
    width: 560px;
    height: 220px;
}
.subscribe {
    background-image: url(../img/pattern.png);
    width: 560px;
    height: 220px;
}
.insubscribe {
    margin: 5px;
    background-image: url(../img/inpattern.png);
    width: 549px;
    height: 211px;
}
.advantage--first {
    background-image: url(../img/ice-cream.svg);
    background-repeat: no-repeat;
}
.advantage--second {
    background-image: url(../img/eco.svg);
    background-repeat: no-repeat;
}
.advantage--third {
    background-image: url(../img/cow.svg);
    background-repeat: no-repeat;
}
.advantage--fourth {
    background-image: url(../img/thermometer.svg);
    background-repeat: no-repeat;
}
.catalog-foto {
    border-radius: 267px;
}
.total {
    text-align: right;
}
.promo-raspberry {
    color: white;
    background-image: url(../img/raspberry.jpg);
    width: 560px;
    height: 229px;
}
.promo-chocolate {
    color: white;
    background-image: url(../img/chocolate.jpg);
    width: 560px;
    height: 229px;
}
.contacts {
    background-color:#fefefe;
    width: 302px;
    height: 305px;
    border-radius: 10px;
}
.basket-list {
    background-color: #f8f7f4;
}
.feedback {
    background-color: #f8f7f4;
    width: 428px;
    height: 400px;
    border-radius: 10px;
}